aiohttp==3.11.12
altair==5.5.0
anyio==4.8.0
attrs==25.1.0
blinker==1.9.0
certifi==2023.7.22
charset-normalizer==3.4.1
click==8.1.8
ngrok
fastapi==0.115.8
PyMuPDF
google-generativeai
Flask==3.1.0
Flask-Cors==5.0.0
google-auth==2.38.0
faiss-cpu

gunicorn==23.0.0
httpx==0.28.1
huggingface-hub==0.28.1
joblib==1.4.2
numpy==1.26.4
pandas==2.2.3
pillow==11.1.0
protobuf==5.29.3
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.1
SQLAlchemy==2.0.37
starlette==0.45.3
streamlit==1.42.2
torch==2.6.0
torchvision==0.21.0
transformers==4.48.2
uvicorn==0.30.1
